.navigation-bar {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em 1em 2.5em;
}

.navigation-bar div {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.navigation-bar img {
  aspect-ratio: 1/1;
}

#logo img {
  width: 80px;
}

#logo h2 {
  font-size: 1.3rem;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile img {
  width: 65px;
  border-radius: 50%;
}

#profile button {
  border-radius: 50%;
  height: 45px;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #f7f7f7;
}

#profile button img {
  border-radius: 0;
  width: 22px;
}

#profile p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 1em;
}
